{% extends "base.html.twig" %}

{% block title %}{{ isEdit ? 'Modification de l\'utilisateur' : 'Création d\'un utilisateur' }}{% endblock %}

{% block body %}

<div class="view view__users--create">
    <div class="container pt-5">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h1>{{ isEdit ? 'Modification de l\'utilisateur' : 'Créer un utilisateur' }}</h1>
            <a class="btn btn-light" href="{{ path('users.list') }}">
                <i class="fas fa-chevron-left"></i>
                <span class="ml-2">Revenir aux utilisateurs</span>
            </a>
        </div>
        {{ include('@App/users/gestion_user_form.html.twig') }}
    </div>
</div>
{% endblock %}