.icon-close {
    font-size: 36px;
    color: white;
}

.icon-close:hover {
    cursor: pointer;
}

.badge-picture {
    max-width: 48px;
}

.badge {
    position: relative;
    height: 80px;
    width: 80px;
    padding: 16px;
    z-index: 1;
}

.badge-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(160, 160, 159, 0.692);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}