
.carouselContainer {
  width: 100%;
}

.purple {
  background: linear-gradient(rgb(133, 52, 174), rgb(154, 128, 255));
}

.pic {
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.VueCarousel-slide {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.VueCarousel-slide > div {
  width: 98%;
  margin: 0 auto;
}

.container-badge {
  width: 48px;
  height: 48px;
}

.container-badge img {
  width: 100%;
  height: 100%;
}