.contact {
  margin-top: 25px;
  font-weight: 550;
  font-size: 18px;
}
.mail {
  margin-bottom: 1em;
}
.sujet {
  margin-bottom: 1em;
}
.body {
  margin-bottom: 1em;
}
.form{
  padding: 1em;
  margin-top: 1.7em;
  box-shadow: 5px 5px 5px lightgrey;
}
.title {
  border-bottom: 2px solid;
  width: 38%;
  margin: auto auto;
  font-size: 1.2em;
  text-transform: uppercase;
}
.envoyer {
  background: linear-gradient(#660099, #8161ff);
}
