{% extends "base.html.twig" %}

{% block title %}AppBundle:Profil:index{% endblock %}

{% block body %}
<h1>Edition de profil</h1>

<div class="jumbotron">
    {{ form(form) }}
    {{ form_errors(form) }}
</div>


{% endblock %}
