<template>
  <div class="carouselContainer mt-10 mb-10">
    <carousel
      :perPageCustom="[[350, 1], [675, 2], [1200, 3]]"
      :navigationEnabled="false"
      :paginationEnabled="false"
      :autoplay="true"
      :autoplayHoverPause="true"
      :autoplayTimeout="5000"
      :loop="true"
    >
      <slide
        v-for="profil in profils"
        :key="profil.id"
        class="flex flex-col items-center justify-center text-white"
      >
        <div class="flex flex-col justify-center purple p-2 m-2 rounded-lg shadow-xl">
          <div class="flex flex-row justify-start">
            <img
              :src="profil.contact.img"
              class="pic shadow"
            />
            <div class="pl-3 flex flex-col items-start justify-center text-base">
              <p class="bold title-montserrat">
                {{ profil.contact.firstName}}
                {{ profil.contact.lastName}}
              </p>
              <p class="title-montserrat">
                {{ calcAge(profil.contact.birthday) }} ans
              </p>
            </div>
          </div>
          <div class="pl-3 flex flex-col items-center justify-center text-base">
            <p class="small uppercases">
              {{ profil.status.promo }}
            </p>
            <p class="small">{{ profil.contact.mail }}</p>
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex flex-col self-start mt-6 mb-6">
              <div
                v-for="badge in profil.badges.filter( (b, idx) => idx < 3)"
                :key="badge.id"
                class="flex flex-row items-center"
              >
                <div class="container-badge mb-2 mr-4">
                  <img
                    :src="badgeForId(badge.id).img"
                    :class="{'grayscale': !badge.enabled}"
                  />
                </div>
                <p class="text-xl small bold">{{badgeForId(badge.id).name }}</p>
              </div>
            </div>
          </div>
          <div class="self-end pb-4">

            <nuxt-link :to="{name: 'profil-slug', params: { slug: profil.id + '-' + profil.contact.firstName + '-' + profil.contact.lastName} }">
              <div class="flex flex-row items-end mr-2 show-profil">
                <p class="small uppercase mr-2">Voir le profil</p>
                <i
                  class="material-icons"
                  style="width:24px;"
                >arrow_forward</i>
              </div>
            </nuxt-link>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  components: {
    Carousel,
    Slide
  },
  props: {
    badges: {
      type: Array,
      required: true
    },
    profils: {
      type: Array,
      required: true
    }
  },
  methods: {
    badgeForId (id) {
      for (const badge of this.badges) {
        if (badge.id == id) return badge;
      }
      return undefined;
    },
    calcAge (date) {
      let s = date.split("/");
      return (
        new Date(
          new Date() - new Date([s[1], s[0], s[2]].join("/"))
        ).getFullYear() - 1970
      );
    },
    slug (profil) {
      return profil.contact.firstName + '-' + profil.contact.lastName
    }
  }
};
</script>

<style lang="css" scoped src="../assets/css/CarouselUsers.css"></style>

<style scoped>
.show-profil i {
  width: 24px;
}

.title-montserrat {
  font-family: "Montserrat";
}
</style>
