<template>
  <div class="mt-6">
    <div class="flex flex-row justify-center items-center mb-6">
      <p
        class="text-filters"
        v-if="profils.length > 0"
      >Nous avons trouvé <span class="bold">{{ profils.length }}</span> <span v-if="profils.length > 1">profils</span><span v-if="profils.length == 1">profil</span> qui peuvent vous intéresser</p>
      <p
        class="text-filters"
        v-if="profils.length <= 0"
      >Nous sommes désolés, aucun profil de correspond à votre recherche.</p>
    </div>
    <div
      id="Search-Result-list"
      v-for="profil in profils"
      :key="profil.id"
    >
      <div class="flex">
        <img
          id="profilPic"
          class="inline-block pt-2 pl-2 shadow"
          :src="profil.contact.img"
        />
        <div
          id="badges"
          class="inline-block pt-2 pl-4 flex flex-col justify-between"
        >
          <div
            v-for="badge in badgesToDisplay(profil)"
            :key="badge.id"
            class="flex items-center mt-3"
          >
            <img :src="badgeForId(badge.id).img" />
            <p class="ml-4">{{ badgeForId(badge.id).name }}</p>
          </div>
        </div>
      </div>
      <div id="text">
        <div id="text-search-result">
          <p>{{ profil.contact.firstName}} <span class="bold uppercase">{{ profil.contact.lastName }}</span></p>
          <p>{{ profil.contact.city }}</p>
        </div>
        <div
          id="next"
          class="inline-block"
        >

          <nuxt-link :to="{name: 'profil-slug', params: { slug: profil.id + '-' + profil.contact.firstName + '-' + profil.contact.lastName } }">
            <i class="material-icons">arrow_forward</i>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  props: ["profils", "badges", "selected"],
  data () {
    return {
      badgeslist: [],
      firstname: "",
      desc: "",
    };
  },
  methods: {
    badgeForId (id) {
      for (const badge of this.badges) {
        if (badge.id == id) return badge;
      }
      return undefined;
    },
    badgesToDisplay (profil) {
      let badges = []
      for (const userBadge of profil.badges) {
        if (userBadge) {
          for (const selectedBadge of this.selected) {
            if (userBadge.id == selectedBadge) {
              badges.push(userBadge)
            }
            if (badges.length == 3) { break }
          }
        }
      }
      if (badges.length < 3) {
        let tryed = []
        while (badges.length < 3 && tryed.length < 3) {
          let i = Math.round(Math.random() * (profil.badges.length - 1))
          if (!tryed.includes(i)) {
            let b = profil.badges[i]
            if (!badges.includes(b)) { badges.push(b) }
            tryed.push(i)
          }
        }
      }
      return badges
    }
  }
};
</script>

<style lang="css" scoped src="../assets/css/ProfilList.css"></style>

<style scoped>
@media screen and (min-width: 200px) and (max-width: 640px) {
  .text-filters {
    text-align: center;
  }
}
</style>
