<template>
    <div id="Project" :class="align ? align : 'left'" class="flex">
        <div class="desc project">
            <h4 class="bold uppercase titre">{{ item.name }}</h4>
            <p>{{ item.desc }}</p>
            <p class="link">
                <a v-if="item.link" :href="item.link" target="_blank">Accéder au projet</a>
            </p>
        </div>
        <div class="img" :style="'background-image: url(' + item.snapshot +')'"></div>
    </div>
</template>

<script>
    export default {
        props: [
            'item',
            'align'
        ]
    }
</script>

<style lang="css" scoped src="../assets/css/Project.css"></style>
