<template>
  <div id="Projects" v-if="items.length != 0">
    <div class="title">
      <h2>Projets</h2>
    </div>
    <div style="margin-left: 25px; margin-right: 25px;"
      v-for="(project, index) in items.slice(0, display === 0 ? items.length : display)"
      :key="project.name"
    >
      <Project :item="project" :align="index % 2 === 0 ? 'left' : 'right'"></Project>
    </div>
    <div style="margin-top: 2em;"></div>
    <a
      @click="toogleDisplay"
      class="mt-6 no-underline text-2xl cursor-pointer plus">
    </a>
    <button
      v-if="items.length > 2"
      @click="toogleDisplay" class="text-white font-bold py-2 px-4 rounded plus">
      {{ display === 0 ? 'Masquer' : 'Voir plus' }}
    </button>
  </div>
</template>

<script>
import Project from "~/components/Project.vue";

export default {
  data() {
    return {
      privateDisplay: -1
    };
  },
  props: {
    items: Array,
    nbDisplay: {
      type: Number,
      default: 2
    }
  },
  components: {
    Project
  },
  computed: {
    display() {
      return this.privateDisplay == -1 ? this.nbDisplay : this.privateDisplay;
    }
  },
  methods: {
    toogleDisplay() {
      if (this.display) {
        this.privateDisplay = 0;
      } else {
        this.privateDisplay = this.nbDisplay;
      }
    }
  }
};

/**items: [
        {
            'snapshot': 'https://file.mockplus.com/image/2017/12/4200ec6a-bae5-40bc-af59-3f9103fcfc00.png',
            'link': '//google.fr',
            'name': 'Un super site',
            'desc': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis vehicula odio, sed cursus neque ornare at. Nullam sit amet leo eu lectus tristique mollis. Nunc at tellus lorem. Nunc porttitor, leo ac eleifend pharetra, justo libero tincidunt lacus, id eleifend purus erat sed quam. Ut id eros nisi. Etiam sit amet libero sed ex scelerisque condimentum quis id nibh. Sed mattis ante et bibendum lacinia. '
        },
        {
            'snapshot': 'https://file.mockplus.com/image/2017/12/fc37dbc2-368b-4948-bad8-8ddbebb65846.png',
            'link': '//linkedin.com',
            'name': 'Un site bien',
            'desc': 'Sed ligula dolor, mattis a odio nec, aliquam faucibus nunc. Aenean tempor ipsum eget libero dictum, ac dictum eros molestie. Praesent ullamcorper, dui non porttitor rutrum, lorem justo interdum eros, ac ullamcorper tellus magna ac urna. Donec nec tempus dolor, sed vehicula lectus. Pellentesque et varius metus. Fusce sed cursus urna. Curabitur sollicitudin sed metus sed ullamcorper. Sed iaculis maximus ex, ut pharetra elit rhoncus at. Etiam eu facilisis enim. Vivamus leo erat, dictum sit amet consectetur a, posuere vitae erat. Sed sapien neque, condimentum eget tellus eu, tempor faucibus elit. In sed convallis lorem. Morbi tristique molestie posuere. '
        },
        {
            'snapshot': 'https://file.mockplus.com/image/2017/12/9a636b56-f4da-4c81-b80e-656b6cbe0b3f.png',
            'link': null,
            'name': 'Un autre super site',
            'desc': 'Donec maximus sed est vitae pulvinar. Morbi lectus justo, maximus sed tincidunt id, pharetra eget enim. Suspendisse ultricies facilisis malesuada. Vestibulum ac eros rutrum, feugiat lectus sit amet, lobortis leo. In dictum suscipit enim ac dapibus. Curabitur dictum ultrices scelerisque. Vivamus tristique tempor turpis eget sodales. Vestibulum elementum, tellus a tempus vestibulum, sem justo semper erat, at accumsan metus justo vel mauris. Duis at sapien odio. Cras eu dui tempor, lobortis augue at, semper enim. Nullam quis justo eget arcu commodo volutpat. Nullam vel posuere nibh, consequat dignissim diam. '
        },
    ]**/
</script>

<style lang="css" scoped src="../assets/css/Projects.css"></style>
